.home {
  height: 100vh;
  font-family: sans-serif;
  padding: 12px;

  // background: linear-gradient(
  //   200.96deg,
  //   #fedc2a -29.09%,
  //   #dd5789 51.77%,
  //   #7a2c9e 129.35%
  // );
  // overflow-y: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
